<app-categories #c hidden></app-categories>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="products">Tutti i prodotti<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngFor="let cat of c.categories">
        <a class="nav-link" href="products?category_id={{cat.id}}">{{cat.name}}</a>
      </li>
    </ul>
  </div>
</nav>