<div class="card">
  <img src={{product.image}} class="card-img-top">
  <h5 class="card-title">{{product.name}}</h5>
  <p class="card-text">{{product.description}}</p>
  <a class="btn btn-primary">Aggiungi al carrello</a>
</div>